{% extends "main.html" %}
{% block content %}
<main class="roadmap-main" id="roadmap-main">
    <h1 class="roadmap-header">On the Horizon:</h1>
    <ul class="roadmap-list">
        <li class="roadmap-item">
            Review accessibility in HTML and CSS
        </li>
        <li class="roadmap-item">
            Expanding the Database
        </li>
        <li class="roadmap-item">
            Add more example queries
        </li>
        <li class="roadmap-item">
            Improve responsive design on desktops
        </li>
        <li class="roadmap-item">
            Improve responsive design on mobile
        </li>
    </ul>
</main>
{% endblock content %}